body {color: #0065FC;
 font-family: 'Raleway';
background-color: #F2F2F2;}
head {color: #0065FC;}
.flessibile {
    display: flex;
  }
  .flessibile > div {
    margin: 10px;
    padding: 20px;
    font-size: 16pt;
  }
 .logo{float: left; 
width: 20%;
}
 .menu{float:right;
  width: 70%;
}

.intestazione{ justify-content: space-between;}

.scorrimento{
flex-wrap: nowrap;
overflow-x: auto;

}

.scheda{
  flex: 0 0 auto;
  width:300px;
  height:250px;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  background-color: #FFFFF2;
  border: 1px solid #FFF0F0;
  border-radius: 25px;
  padding: 20px;

}
.scheda > img {
  object-fit: cover;
  width: 70%;
  height: auto;
  max-height:50%;

}

.caption {
  display: block;
}

 /* unvisited link */
.scheda > a:link {
  color: #000000;
}

/* visited link */
.scheda > a:visited {
  color: #000000;
}

/* mouse over link */
.scheda > a:hover {
  color: #0065FC;
}

/* selected link */
.scheda > a:active {
  color: #000000;
} 