body {color: #0065FC;
 font-family: 'Raleway';
background-color: #F2F2F2;}
head {color: #0065FC;}
.flessibile {
    display: flex;
  }
  .flessibile > div {
    margin: 10px;
    padding: 20px;
    font-size: 16pt;
  }
 .logo{float: left; 
width: 20%;
}
 .menu{float:right;
  width: 70%;
}

.intestazione{ justify-content: space-between;}

.scorrimento{
flex-wrap: nowrap;
overflow-x: auto;

}

.scheda{
  flex: 0 0 auto;
}
